<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>

    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
          rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="../static/css/color_scheme.css"
          th:href="@{../../../../css/color_scheme.css}"/>

    <title>Twitter Dashboard</title>
</head>
<body>

<div th:include="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-10 col-md-offset-0">
            <div class="list-group">
                <a class="list-group-item" href="/twitter_dashboard/user_details"
                   th:ref="@{/twitter_dashboard/user_details}"><i class="fa fa-user fa-fw"></i>&nbsp; User Details</a>
                <a class="list-group-item" href="#"><i class="fa fa-users fa-fw"></i>&nbsp; Followers</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-md-offset-0">
            <form th:action="@{/twitter_dashboard}" method="POST" th:object="${searchForm}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for tweets containing..."
                           th:field="*{query}"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-10" th:if="${not #lists.isEmpty(tweets)}">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Your search results are....</div>
                <div class="panel-body" th:object="${searchForm}">
                    <p>Search term: <span class="lead" th:text="*{query}"></span></p>
                </div>
                <table id="tweetTable" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Twiiter User</th>
                        <th>Tweet</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tweet:${tweets}">
                        <td th:text="${tweet.userName}">User Name</td>
                        <td th:text="${tweet.tweet}">Tweet</td>
                        <td th:text="${tweet.userLocation}">Location</td>
                        <td><a th:if="${not #strings.isEmpty(tweet.userUrl)}" th:href="${tweet.userUrl}">view</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- No results-->
        <div class="col-md-10 col-sm-10">
            <div class="panel panel-default"
                 th:if="${not #strings.isEmpty(searchForm.query) and #lists.isEmpty(tweets)}">
                <!-- Default panel contents -->
                <div class="panel-heading">No search results found!</div>
                <div class="panel-body" th:object="${searchForm}">
                    <p>Search term: <span class="lead" th:text="*{query}"></span>Test</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
