<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>

    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
          rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <title>Twitter Dashboard</title>
</head>
<body>

<div class="container">
    <div class="row lead">
        <div class="col-md-6 col-md-offset-3 col-sm-10">
            <h3>Welcome to your Dashboard</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-10">
            <div class="list-group">
                <a class="list-group-item" href="/connect/twitter" th:href="@{/connect/twitter}"><i
                        class="fa fa-twitter fa-3x"></i>&nbsp; Connect to twitter</a>
                <a class="list-group-item" href="#"><i class="fa fa-linkedin-square fa-3x"></i>&nbsp; Connect to
                    LinkedIn</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
