<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>

    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"
          rel="stylesheet"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>

    <title>Twitter Dashboard</title>
</head>
<body>

<div class="container">
    <div class="row lead">
        <div class="col-md-12">
            <h3>Welcome to your Twitter Dashboard</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-10 col-md-offset-0">
            <div class="list-group">
                <a class="list-group-item" href="#"><i class="fa fa-user fa-fw"></i>&nbsp; User Details</a>
                <a class="list-group-item" href="#"><i class="fa fa-users fa-fw"></i>&nbsp; Followers</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-md-offset-0">
            <form th:action="@{/twitter_dashboard}" method="POST" th:object="${searchForm}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for tweets containing..."
                           th:field="*{query}"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-10" th:unless="${#lists.isEmpty(tweets)}">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Your search results are....</div>
                <div class="panel-body" th:object="${searchForm}">
                    <p>Search term: <span class="lead" th:text="*{query}"></span></p>
                </div>
                <table id="tweetTable" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Twiiter User</th>
                        <th>Tweet</th>
                        <th>Location</th>
                        <th>URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tweet:${tweets}">
                        <td th:text="${tweet.userName}"></td>
                        <td th:text="${tweet.tweet}"></td>
                        <td th:text="${tweet.userLocation}"></td>
                        <td th:text="@{tweet.userUrl}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
